@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
@layer components {
  .navbar {
    backdrop-filter: blur(5px);
  }
  .phone_logo {
    margin-left: 3em;
    background-color: black;
    cursor: pointer;
    color: white;
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.3s;
  }
  .phone_logo:hover {
    box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px,
      rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
    background-color: white;
    color: black;
  }
  .main-heading {
    color: #219ebc;
    font-size: 4em;
    margin-top: 3em;
    text-shadow: 0px 9px 5px rgba(33, 158, 188, 0.6);
  }
  .main-heading::selection {
    color: white;
  }
  .sel {
    text-shadow: 0px 9px 5px rgba(255, 255, 255, 0.6);
  }
  .sel::selection {
    color: black;
  }
  .aboveFooterHeading {
    font-size: 3em;
    margin-bottom: 2em;
    color: #219ebc;
    cursor: pointer;
  }
  .aboveFooterHeading span {
    color: white;
  }
  .aboveFooterButton{
    padding: 1em 3em 1em 3em;
    border: 2px solid #219ebc;
    border-radius: 20px;
    cursor: pointer;
    color: #219ebc;
    transition: all 0.3s;
  }
  .aboveFooterButton:hover{
    transform: translateY(-20px);
    background-color: #219ebc;
    color: white;
    box-shadow: 0px 6px 12px 0px rgba(33,158,188,1);
  }
}
